DATABASE_URI=mongodb://127.0.0.1:27017/sard_cms
PAYLOAD_SECRET=
# Added by Payload

NEXT_PUBLIC_CMS_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mohamed.elsayed3220@gmail.com
SMTP_PASS=

CONTACT_TO_EMAIL=mohamed.elsayed3220@gmail.com
CONTACT_FROM_EMAIL=mohamed.elsayed3220@gmail.com
DEFAULT_REVALIDATE=30
NEXT_PUBLIC_TRANSITION_VARIANT=doors
# NEXT_PUBLIC_TRANSITION_VARIANT=stack
