@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #f3f0eb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
  .bg-primary {
    background-color: #881d40;
  }
  .text-primary {
    color: #881d40;
  }
  .bg-secondary {
    background-color: #4f001a;
  }
}

@media (max-width: 1024px) {
  .bg-section {
  }
}

@media (min-width: 320px) {
  .hidden-xs {
    display: none;
  }
  .show-xs {
    display: flex;
  }
}
@media (min-width: 768px) {
  .hidden-xs {
    display: flex;
  }
  .show-xs {
    display: none;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
} /* WebKit */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
